{% extends 'base.html.twig' %}

{% block stylesheets %}
<style type="text/css">
body {
    background-color: #DADADA;
}
body > .grid {
    height: 100%;
}
.image {
    margin-top: -100px;
}
.column {
    max-width: 450px;
}
</style>
{% endblock %}

{% block body %}
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui orange image header">
            <div class="content">
                Create an account
            </div>
        </h2>
        {{ form_start(form,{ 'attr' : { 'class' : 'ui large form' }}) }}
        <div class="ui stacked segment">
            <div class="field">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    {{ form_widget(form.username, { 'attr' : {'placeholder': 'Your Username'} }) }}
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="mail icon"></i>
                    {{ form_widget(form.email, { 'attr' : {'placeholder': 'Your Email Address'} }) }}
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    {{ form_widget(form.plainPassword.first, { 'attr' : {'placeholder': 'Your Password'} }) }}
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    {{ form_widget(form.plainPassword.second, { 'attr' : {'placeholder': 'Confirm Password'} }) }}
                </div>
            </div>
            <button class="ui fluid large orange submit button" type="submit">Register</button>
        </div>

        <div class="ui error message">
            {{ form_errors(form) }}
        </div>
        {{ form_rest(form) }}
        {{ form_end(form, {'render_rest': false}) }}

        <div class="ui yellow message">
            New to us? <a href="#">Sign Up</a>
        </div>
    </div>
</div>
{% endblock %}
